<div class="quiz-page-1">
    <h4 class="quiz-page-1__title quiz-page-title">Какая у Вас категория товара ?</h4>
    <div class="quiz-page-1__form-elements">
        <div class="quiz-page-1__col">
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Сборный груз
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Бытовая химия
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Автозапчасти
            </label>
        </div>
        <div class="quiz-page-1__col">
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Оборудование
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Электроника
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Строительная техника
            </label>
        </div>
        <div class="quiz-page-1__col">
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Детские товары
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Стройматериалы
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Другое
            </label>
        </div>
    </div>
</div>