<div class="quiz-page-2">
    <div class="quiz-page-2__col">
        <h4 class="quiz-page-2__title quiz-page-title">Объём товара ? (м3)</h4>
        <div class="quiz-page-2__range-box quiz-page-2__range-box_1">
            <div class="quiz-page-2__number-box">
                <div class="quiz-page-2__number-1">0</div>
                <div class="quiz-page-2__number-2">100</div>
            </div>
            <div class="slider-styled" id="slider-range1"></div>
        </div>
        <label class="quiz-page-2__label">
            <input type="checkbox" class="quiz-page-2__checkox">
            Другой объём
        </label>
    </div>
    <div class="quiz-page-2__col">
        <h4 class="quiz-page-2__title quiz-page-title">Вес товара ? (кг)</h4>
        <div class="quiz-page-2__range-box quiz-page-2__range-box_2">
            <div class="quiz-page-2__number-box">
                <div class="quiz-page-2__number-1">0</div>
                <div class="quiz-page-2__number-2">10000</div>
            </div>
            <div class="slider-styled" id="slider-range2"></div>
        </div>
        <label class="quiz-page-2__label">
            <input type="checkbox" class="quiz-page-2__checkox">
            Другой вес
        </label>
    </div>
</div>