<div class="quiz-page-3 quiz-page-1">
    <h4 class="quiz-page-1__title quiz-page-title">Какие услуги Вам необходимы ?</h4>
    <div class="quiz-page-1__form-elements">
        <div class="quiz-page-1__col">
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Доставка из Китая "под ключ"
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Оплата товара поставщику
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Таможенное оформление в России
            </label>
        </div>
        <div class="quiz-page-1__col">
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Оформление сделки под наш контракт
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Экспортное оформление в Китае
            </label>
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Другое
            </label>
        </div>
    </div>
</div>