<div class="quiz-page-4 quiz-page-1">
    <h4 class="quiz-page-1__title quiz-page-title">Укажите маршрут перевозки ?</h4>
    <div class="quiz-page-1__form-elements">
        <div class="quiz-page-1__col">
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Требуется доставка груза по Китаю
            </label>
        </div>
        <div class="quiz-page-1__col">
            <label class="quiz-page-1__label">
                <input type="checkbox" class="quiz-page-1__checkbox">
                Требуется доставка груза по России
            </label>
        </div>
    </div>
</div>