<div class="quiz-page-5">
    <h4 class="quiz-page-5__title quiz-page-5__title_top quiz-page-title">Дополнительная информация (не обязательно)
    </h4>
    <input type="text" class="quiz-page-5__input">
    <h4 class="quiz-page-5__title quiz-page-title">Инвойс, спецификация и др. (не обязательно)</h4>
    <label class="quiz-page-5__label">
        <input type="file" name="" class="quiz-page-5__input-file" multiple>
        <div class="quiz-page-5__img-wrap">
            <img src="../../img/quiz-5-file.svg" class="quiz-page-5__img-file" alt="Выбор файла">
        </div>
        <span class="quiz-page-5__label-text-start"> Прикрепить материалы</span>
        <span class="quiz-page-5__label-text-change">Выбрано файлов: <span></span></span>

    </label>
</div>