<section class="feedback section @@if(context.class){@@class}" id="@@if(context.id){@@id}">
    <div class="container">
        <div class="feedback__inner">
            <div class="feedback__top">
                <div class="feedback__caption">
                    <h2 class="feedback__title h2">Вам нужно <br>
                        доставить груз <span>из Китая ?</span></h2>
                    <div class="feedback__subtitle">Мы можем органищовать перевозку “под ключ”</div>
                </div>
                @@if(context.img){
                <div class="feedback__img-wrap">
                    <img src="../img/feedback-1.png" alt="Доставка грузов" class="feedback__img">
                </div>
                }

            </div>
            <form class="feedback__form">
                <div class="feedback__form-body">
                    <input class="feedback__form-input" type="text" placeholder="Имя">
                    <input class="feedback__form-phone" type="tel" placeholder="Телефон*" required>
                    <button class="feedback__form-btn btn">
                        Отправить
                        <svg class="svg-arrow-right-dims">
                            <use xlink:href="sprite.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <p class="feedback__form-agree">Нажимая кнопку, вы даете согласия
                    на <a href="#">обработку персональных данных</a></p>
            </form>
        </div>
    </div>
</section>