<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <a href="index.html" class="footer__logo-link">
                    <img src="../img/logo.svg" alt="Логотип" class="footer__logo">
                </a>
                <nav class="menu-footer">
                    <ul class="menu-footer__list">
                        <li class="menu-footer__item">
                            <a href="index.html" class="menu-footer__link">Главная</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">Услуги</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="blog.html" class="menu-footer__link">Блог</a>
                        </li>
                        <li class="menu-footer__item menu-footer__item_last">
                            <a href="#" class="menu-footer__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <button class="footer__btn btn">
                    Оформить заявку
                    <svg class="svg-arrow-right-dims">
                        <use xlink:href="sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom-text footer__bottom-text_1">2022 год Ⓒ ООО “Кадр” </div>
                <div class="footer__bottom-text footer__bottom-text_2">ИНН 7536182080</div>
                <a href="#" class="footer__bottom-text footer__bottom-text_3">Договор оферта</a>
                <a href="#" class="footer__bottom-text footer__bottom-text_4">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>