<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="index.html" class="header__logo-link">
                <img src="../img/logo.svg" alt="" class="header__logo-img">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="index.html" class="menu__link">Главная</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Услуги</a>
                    </li>
                    <li class="menu__item menu__item_last">
                        <a href="contacts.html" class="menu__link">Контакты</a>
                    </li>
                    <li class="menu__item menu__item_email">
                        <a href="mailto:o.kadr@way-n.ru" class="menu__link">
                            o.kadr@way-n.ru
                        </a>
                    </li>
                    <li class="menu__item menu__item_phone">
                        <a href="tel:+79660226487" class="menu__link">
                            +7 966 022 64 87
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="mailto:o.kadr@way-n.ru" class="header__email">
                <svg class="svg-email-dims">
                    <use xlink:href="sprite.svg#email"></use>
                </svg>
                <div class="header__email-box">
                    <div class="header__email-email">o.kadr@way-n.ru</div>
                    <p class="header__email-text">Напишите нам!</p>
                </div>
            </a>
            <a href="tel:+79660226487" class="header__phone">
                <svg class="svg-call-dims">
                    <use xlink:href="sprite.svg#call"></use>
                </svg>
                <div class="header__phone-box">
                    <div class="header__phone-phone">+7 966 022 64 87</div>
                    <p class="header__phone-text">Звоните нам!</p>
                </div>
            </a>
            <button class="header__burger"><span></span></button>
        </div>
    </div>
</header>